.button {
    width: clamp(300px, 30dvw, 600px);
    height: clamp(50px, 9dvh, 120px);
    background: linear-gradient(to right, #00BFFF 0%, #120395 100%);
    text-align: center;
    color: white;
    font-family: var(--font-inter);
    font-weight: bold;
    font-size: clamp(1.8rem, 2.34dvw, 2.8125rem);
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button:hover{
    background: linear-gradient(to right, #0086b3 0%, #0d026c 100%);
    transform: scale(1.02);
}

.button:active{
    transform: scale(0.98);
    background: linear-gradient(to right, #006f94 0%, #0e0275 100%);
}