.header{
    width: 100%;
    background-color: black;
    border: 1px rgb(52, 52, 52) solid;
    border-radius: 10px;
    box-shadow: 7px 5px 15px rgb(28, 28, 28);
    padding: 10px 40px 10px 30px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.headerLinks{
    display: flex;
    gap: 40px;
}

.headerLogo{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    font-size: clamp(1rem, 1.5dvw, 2rem);
    margin-right: auto;
}

.textLogo{
    background: linear-gradient(to bottom, #00BFFF 50%, #120395 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logoImage{
    width: 2dvw;
    aspect-ratio: 1/1;
}

.navigationButton{
    color: white;
    font-size: clamp(0.5rem, 1.1dvw, 1.5rem);
    transition: all 0.5s ease;
}

.navigationButton:hover{
    cursor: pointer;
    color: rgb(172, 172, 172);
    transform: scale(0.95);
}

.navigationButton.active{
    background: linear-gradient(to bottom, #00BFFF 50%, #120395 100%);
    font-size: clamp(0.5rem, 1.2dvw, 1.5rem);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
}

.menu{
    background-color: rgb(8, 8, 8);
    display: flex;
    flex-direction: column;
    border: 1px rgb(52, 52, 52) solid;
    border-radius: 10px;
    box-shadow: 7px 5px 15px rgb(28, 28, 28);
    font-size: clamp(0.5rem, 1dvw, 1rem);
}

.link{
    border-bottom: 1px rgb(52, 52, 52) solid;
    padding: 5px 10px;
}

.link:hover{
    background: linear-gradient(to right, #00BFFF 50%, #120395 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: black;
}