.div {
    padding: 25px 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: clamp(1.5rem, 2.2dvw, 2.5rem);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-right: 10%;
    margin-left: 10%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: clamp(1rem, 1.5dvw, 2rem);
}

.input {
    font-size: clamp(1rem, 1.5dvw, 2rem);
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #ccc;
    box-shadow: 0px 0px 30px rgb(255, 255, 255, 0.3);
}

.label select {
    background-color: #060219;
}

.submit {
    font-size: clamp(1rem, 1.5dvw, 2rem);
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background: linear-gradient(to right, #00BFFF 0%, #120395 100%);
    border-radius: 20px;
    cursor: pointer;
    text-shadow: 0px 0px 30px rgb(0, 0, 0);
}

.afinacao {
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    background: linear-gradient(to right, #00BFFF 0%, #120395 100%);
    box-shadow: 0px 0px 30px rgb(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: clamp(1rem, 1.5dvw, 2rem);
    text-shadow: 0px 0px 30px rgb(0, 0, 0, 0.5);
}

.afinacao input {
    box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.3);
    text-shadow: 0px 0px 30px rgb(0, 0, 0, 0.3);
}

.radioGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}