.body{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
}

.div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.divInfoInputs{
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.divPageInfo{
    display: flex;
    flex-direction: column;
    gap: 34px;
    color: white;
    align-items: center;
    font-size: clamp(2rem, 3dvw, 3rem);
    font-family: var(--font-inter);
    font-weight: bold;
}

.headerLogo{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    font-size: clamp(2rem, 3dvw, 3rem);
    margin-right: auto;
}

.textLogo{
    background: linear-gradient(to bottom, #00BFFF 50%, #120395 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logoImage{
    width: 5dvw;
    aspect-ratio: 1/1;
}